html,
*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

* {
  outline: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none; }

button,
input {
  overflow: visible; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button {
  border: 0;
  outline: 0; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

[hidden] {
  display: none; }

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border-style: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

label {
  margin-bottom: 0; }

li {
  list-style: none; }

ul {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Work Sans';
  src: url("fonts/worksans-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Work Sans';
  src: url("fonts/worksans-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Work Sans';
  src: url("fonts/worksans-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Work Sans';
  src: url("fonts/worksans-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal; }
:root {
  --ff: 'Work Sans', sans-serif;
  --c-primary: #8842F0;
  --c-text-white: #fff;
  --c-border: #eee; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */ }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  border-radius: 30rem;
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  max-height: 530px;
  min-height: 530px;
  object-fit: cover;
  object-position: center;
  border-radius: 30rem;
  display: block;
  width: 100%; }

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
   *  Owl Carousel - Animate Plugin
   */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/*
   * 	Owl Carousel - Auto Height Plugin
   */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
   * 	Owl Carousel - Lazy Load Plugin
   */
.owl-carousel .owl-item {
  /**
              This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
              calculation of the height of the owl-item that breaks page layouts
           */ }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
   * 	Owl Carousel - Video Plugin
   */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #869791;
  color: #fff;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  position: absolute;
  bottom: 20px;
  left: 47%;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #000;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #8842f0; }

html {
  font-size: 1px; }
  @media (max-width: 576px) {
    html {
      font-size: 0.9px; } }
  @media (max-width: 375px) {
    html {
      font-size: 0.8px; } }

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16rem;
  margin: 0; }

.container {
  max-width: calc(1170rem + 40rem);
  padding: 0 20rem;
  margin-inline: auto;
  width: 100%; }

a {
  color: #262626;
  transition: 0.3s all ease-in-out; }
  a:hover {
    color: #8842F0; }

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0); }

* ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d1d1d1; }

.row {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin-left: -10px; }

.col-5 {
  width: 20%;
  padding: 0 10px 10px; }
  @media (max-width: 576px) {
    .col-5 {
      width: 100%; } }

.col-4 {
  width: 25%;
  padding: 0 10px 10px; }
  @media (max-width: 576px) {
    .col-4 {
      width: 100%; } }

.col-3 {
  width: 33.33%;
  padding: 0 10px 10px; }
  @media (max-width: 576px) {
    .col-3 {
      width: 100%; } }

.col-25 {
  width: 40%;
  padding: 0 10px 10px; }
  @media (max-width: 576px) {
    .col-25 {
      width: 100%; } }

.col-2 {
  width: 50%;
  padding: 0 10px 10px; }
  @media (max-width: 576px) {
    .col-2 {
      width: 100%; } }

.col-2m {
  width: 50%;
  padding: 0 10px 10px; }

.col-23 {
  width: 66.66%;
  padding: 0 10px 10px; }
  @media (max-width: 576px) {
    .col-23 {
      width: 100%; } }

.col-1 {
  width: 100%;
  padding: 0 10px 10px; }

.title {
  color: #262626;
  font-size: 48rem;
  font-weight: 700;
  margin-bottom: 70rem;
  text-align: center;
  margin-top: 111rem; }

.desc {
  color: #262626;
  text-align: center;
  font-size: 16rem;
  font-weight: 400;
  max-width: 837rem;
  margin-inline: auto;
  margin-bottom: 123rem; }

.btn {
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 11rem 49rem; }
  .btn._primary {
    background: #8842F0;
    color: #F9F1FE;
    font-size: 20rem;
    font-weight: 600;
    transition: 0.3s all ease-in-out; }
    @media (max-width: 576px) {
      .btn._primary {
        font-size: 16rem; } }
    .btn._primary:hover {
      background: #6a13ec;
      scale: 0.9; }

.header {
  padding: 40rem 0; }
  .header__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
  .header__logo {
    color: #262626;
    font-size: 24rem;
    font-weight: 600; }
  .header__ul {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 3; }
    @media (max-width: 992px) {
      .header__ul {
        position: fixed;
        width: 70%;
        height: 100%;
        flex-direction: column;
        left: 0;
        top: 0;
        background: var(--c-primary);
        align-items: center;
        justify-content: center;
        transform: translateX(-120%);
        transition: 0.3s all ease-in-out;
        gap: 40px; } }
    .header__ul._active {
      transform: translateX(0); }
    .header__ul .icon-close {
      position: absolute;
      top: 40px;
      right: 40px;
      color: var(--c-text-white); }
  .header__a {
    color: #000;
    font-size: 16rem;
    font-weight: 400;
    position: relative;
    transition: 0.3s all ease-in-out; }
    .header__a:hover {
      color: #8842F0; }
      .header__a:hover::before {
        width: calc(100% - 10px); }
    .header__a::before {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      background: #8842F0;
      height: 1px;
      bottom: -3px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 20px;
      transition: 0.3s all ease-in-out; }
    .header__a._active {
      color: #8842F0;
      font-weight: 600; }
      .header__a._active::before {
        width: calc(100% - 10px); }
      @media (max-width: 992px) {
        .header__a._active {
          color: var(--c-text-white); } }
    @media (max-width: 992px) {
      .header__a {
        color: var(--c-text-white);
        font-size: 18rem; } }

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none; }
  @media (max-width: 992px) {
    .icon-menu,
    .icon-close {
      display: inline-block; } }

.search {
  border-radius: 50px;
  background: #000;
  padding: 14rem 15rem 14rem 18rem;
  position: relative; }
  @media (max-width: 992px) {
    .search {
      display: none; } }
  .search__input {
    width: 100%;
    border: 0;
    outline: 0;
    display: inline-block;
    background: transparent;
    font-family: "Work Sans", sans-serif;
    color: #fff;
    padding-right: 29rem;
    font-size: 14rem;
    font-weight: 400; }
    .search__input::placeholder {
      color: #F9F1FE; }
  .search__icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s all ease-in-out; }
    .search__icon:hover {
      scale: 1.2; }

.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370rem, 1fr));
  gap: 30rem; }
  @media (max-width: 576px) {
    .services {
      grid-template-columns: 1fr; } }

.service {
  border-radius: 15px;
  background: #F9F1FE;
  padding: 46rem 26rem;
  text-align: center;
  transition: 0.3s all ease-in-out; }
  .service:hover {
    background: #8842F0;
    scale: 0.95; }
    .service:hover .service__title, .service:hover .service__desc, .service:hover a {
      color: #fff; }
    .service:hover svg path {
      fill: #fff; }
  .service__img {
    width: 110px;
    height: 110px;
    margin-inline: auto;
    margin-bottom: 27rem; }
  .service__title {
    color: #262626;
    font-size: 24rem;
    font-weight: 600;
    margin-bottom: 17rem; }
  .service__desc {
    color: #575757;
    text-align: center;
    font-size: 16rem;
    font-weight: 400;
    margin-bottom: 18rem; }
  .service__btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: #8842F0;
    font-family: "Work Sans", sans-serif;
    font-size: 16rem;
    font-weight: 600;
    text-decoration-line: underline; }

.doctors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370rem, 1fr));
  gap: 27rem; }
  @media (max-width: 576px) {
    .doctors {
      grid-template-columns: 1fr; } }

.doctor {
  border-radius: 20px;
  background: #F9F1FE;
  padding: 44rem 39rem 33rem; }
  .doctor .info {
    margin-bottom: 25rem;
    display: flex;
    align-items: center;
    gap: 13rem; }
    .doctor .info__image {
      flex-shrink: 0;
      width: 63rem;
      height: 63rem;
      border-radius: 50%; }
      .doctor .info__image img {
        object-fit: cover;
        max-width: 100%;
        height: 100%;
        border-radius: 50%; }
  .doctor .intel__name {
    margin-bottom: 3rem;
    color: #262626;
    font-size: 20rem;
    font-weight: 600; }
  .doctor .intel__role {
    color: #575757;
    font-size: 16rem;
    font-weight: 400; }
  .doctor__about {
    margin-bottom: 28rem;
    color: #575757;
    font-size: 16rem;
    font-weight: 400; }

.join-section {
  margin: 130rem 0;
  border-radius: 10px;
  background: #1C1B1F;
  padding: 80rem; }
  @media (max-width: 576px) {
    .join-section {
      padding: 80rem 20rem; } }
  .join-section__title {
    color: #fff;
    font-size: 36rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 47rem; }
  .join-section__subscribe {
    max-width: 717rem;
    margin-inline: auto;
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 10rem 15rem;
    background: #F9F1FE; }
    @media (max-width: 992px) {
      .join-section__subscribe {
        flex-direction: column;
        gap: 30rem;
        background: transparent; }
        .join-section__subscribe .join-section__input {
          border-radius: 50px;
          padding: 10rem 15rem;
          background: #F9F1FE; } }
  .join-section__input {
    padding-left: 16rem;
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0; }
  .join-section__btn {
    color: #fff;
    font-size: 20rem;
    font-weight: 600; }

.footer {
  background: #F9F1FE;
  padding: 106rem 12rem 81rem; }
  .footer__container {
    display: grid;
    grid-template-columns: 431rem auto auto;
    gap: 108rem; }
    @media (max-width: 1200px) {
      .footer__container {
        grid-template-columns: 350rem auto auto;
        gap: 30rem; } }
    @media (max-width: 992px) {
      .footer__container {
        grid-template-columns: 1fr;
        justify-content: center; } }
  .footer__logo {
    display: inline-block;
    color: #262626;
    font-size: 24rem;
    font-weight: 600;
    margin-bottom: 26rem; }
  .footer__desc {
    color: #262626;
    font-size: 16px;
    font-weight: 400;
    max-width: 431rem; }
  .footer__info-header, .footer__hours-header {
    color: #262626;
    font-size: 20rem;
    font-weight: 600;
    margin-bottom: 9rem; }
  .footer__info-value, .footer__hours-value {
    color: #262626;
    font-size: 16rem;
    font-weight: 400;
    margin-bottom: 37rem;
    display: inline-flex;
    gap: 16rem; }
  .footer__hours-value {
    display: grid;
    margin-bottom: 15rem; }
