.search {
  border-radius: 50px;
  background: $black;
  padding: 14rem 15rem 14rem 18rem;
  position: relative;
  @include tablet {
    display: none;
  }

  &__input {
    width: 100%;
    border: 0;
    outline: 0;
    display: inline-block;
    background: transparent;
    font-family: $ff-main;
    color: $white;
    padding-right: 29rem;
    font-size: 14rem;
    font-weight: 400;

    &::placeholder {
      color: $c--terciary;
    }
  }

  &__icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: $transition;
    &:hover {
        scale: 1.2;
    }
  }
}
